---
layout: layouts/base.njk
section: episodes
permalink: /episodes/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set episodeslist = collections.episodes %}
{% include "components/episodeslist.njk" %}
